* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: white;
}


.container {

    width: 90%;
    max-width: 400px;

    margin: auto;
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;

}


.logo {

    width: 180px;
    margin-bottom: 50px;

}


h1 {

    color: #154a8a;
    font-size: 22px;

    margin-bottom: 20px;

}


label {

    color: #777;
    font-size: 14px;

}


input {

    width: 100%;
    height: 45px;

    border-radius: 10px;
    border: 1px solid #154a8a;

    margin-bottom: 20px;

}


a {

    text-decoration: none;
    color: #154a8a;

    margin-top: 15px;

}


.criar-conta {

    font-size: 18px;
    font-weight: bold;

}